streamlit
openai
wikipedia-api
faiss-cpu
transformers
sentence-transformers
onnx
onnxruntime
numpy
pillow
moviepy==1.0.3
gtts
requests
langchain
langchain-openai
amadeus
graphviz
seaborn
scikit-learn
matplotlib
plotly
gradio
diffusers
accelerate
serpapi
